body {
    font-family: "Urbanist", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header {
    background-color: rgb(226, 218, 128);
    padding: 16px 24px;
    border-style: solid;
    border-color: rgb(77, 77, 77);
    border-width: 0 0 2px 0;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1366px;
        margin: 0 auto;

        .blog-name {
            font-family: "Lobster", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
        }

        .follow-link {
            text-decoration: underline;
        }
    }
}

.top-navigation {
    background-color: rgb(77, 77, 77);
    color: white;
    padding: 12px 24px;

    .top-navigation__container {
        max-width: 1366px;
        margin: 0 auto;
        
        .top-navigation__list {
            display: flex;
            justify-content: flex-start;
            gap: 12px;
            padding: 0;
        }
        
        .top-navigation__item {
            list-style: none;
            font-weight: 700;
            letter-spacing: 0.5px;
            transition: color ease .2s;
            font-size: 18px;
            padding: 0 4px;
        
            &:hover {
                color: rgb(226, 218, 128);
            }
        }
    }
    
}


section.main-content {
    min-height: 50vh;
    background-color: rgb(255, 254, 242);
    padding: 24px 32px;
    border-left: solid rgb(77, 77, 77) 2px;

    @media (max-width: 768px) {
        border-left: none;
        padding: 24px;
    }

    .main-title {
        padding-bottom: 8px;
        border-bottom: 2px solid rgb(77, 77, 77);
    }

    .publication {
        margin-top: 24px;
        border-bottom: 2px dashed rgb(77, 77, 77);

        .publication-title {
            margin-bottom: 8px;
            font-size: 24px;
        }

        .written-by {
            font-size: 14px;
            display: block;
            padding: 10px;
            background-color: lightgray;
            border-left: 2px solid gray;
        }

        .publication-content {
            text-align: justify;
            font-size: 18px;
            margin-bottom: 8px;
        }

        .publication-image__container {
            display: flex;
            margin: 8px;
            justify-content: center;
        }

        .publication-image {
            max-width: 100%;
        }
    }
}

section.main-content .publication:nth-last-child(-n + 1) {
    border: none;
}

section.banner-newsletter {
    border-top: 2px solid rgb(77, 77, 77);
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    background-color: rgb(226, 218, 128);

    .banner-newsletter__title {
        max-width: 500px;
        text-align: center;
    }

    .newsletter-form {
        display: flex;
    }

    .newsletter-input {
        border: 1px solid rgb(77, 77, 77);
        outline: 0;
        padding: 8px 12px;
        display: flex;
        font-size: 16px;
        box-shadow: inset rgb(77, 77, 77) 0px 0px 15px -5px;
        transition: 0.2s ease;

        &:focus, &:hover {
            transition: 0.2s ease;
            box-shadow: unset;
        }
    }

    .newsletter-button {
        background-color: rgb(77, 77, 77);
        color: white;
        font-weight: 800;
        padding: 8px 12px;
        border: none;
        font-size: 18px;

        &:hover {
            cursor: pointer;
        }
    }
}

figcaption {
    text-align: center;
}

div.main-wrapper {
    display: grid;
    grid-template-columns: 25vw 1fr;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}

footer {
    color: white;
    background-color: rgb(77, 77, 77);
    text-align: center;
    padding: 24px 0;
    font-size: 1.25rem;
}

aside {
    position: sticky;
    top: 0px;
    height: fit-content;

    @media (max-width: 768px) {
        display: none;
    }
}

aside .navigation {
    margin: 16px 8px 0 16px;
}

.articles-container {
    padding: 24px 0;
    border-style: solid;
    border-color: rgb(77, 77, 77);
    border-width: 2px 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 32px;
}

.articles-container__title {
    font-size: 24px;
    font-weight: 900;
}

.articles-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
}

.article-item {
    background-color: white;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.article-item:hover {
    background-color: rgba(148, 148, 148, 0.089);
    transform: scale(1.05);
}

.article-item__text {
    font-size: 16px;
    font-weight: 600;
}

.article-item__image {
    max-width: 100%;
}