* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: unset;
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, figure, ul {
    margin: 0;
}
